@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-950 text-slate-50 antialiased;
}

.glass {
  @apply rounded-3xl border border-white/10 bg-white/5 shadow-xl shadow-slate-900/40 backdrop-blur-xl;
}
